<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TITULO{% endblock %}
    </title>
</head>
<body>
<h1>La web para Preguntas y Respuestas</h1>
<p>
{% if request.user.username %}
Bienvenido {{request.user.username}}
<a href="{% url 'preguntas:logout' %}"><button type="button">Cerrar sesión</button></a>
<a href="{% url 'preguntas:index' %}"><button type="button">Ver preguntas</button></a>
{% else %}
No autenticado
<a href="{% url 'preguntas:login' %}"><button type="button">Iniciar sesión</button></a>
{% endif %}
</p>
{% if request.user.username %}
<p></p>
{% endif %}
{% block content %}
CONTENIDO
{% endblock %}
</body>
</html>