{% extends "base.html" %}
{% block title %}
Preguntas
{% endblock %}


<!-- preguntas/N
{% if pregunta_datos %}
    <h1>{{pregunta_datos.titulo}}</h1>
    <p>{{pregunta_datos.texto}}</p>
    <p>{{pregunta_datos.autor.nombre}}</p>
    <p>{{pregunta_datos.fecha}}</p>
{% endif %}

{% if respuestas %}
    <h2>Respuestas</h2>
    <ul>
    {% for respuesta in respuestas %}
        <li>{{respuesta.texto}} -- {{respuesta.autor.nombre}} -- {{respuesta.fecha}}</li>
    {% endfor %}
    </ul>
{% endif %}

{% if form %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>
{% endif %} -->

<!----------------------------------------------------------------------------->
<!-- preguntas/ -->
{% block content %}
<h2>Preguntas</h2>
<ul>
    
{% for pregunta in preguntas %}
    <li> <a href="{{pregunta.id}}">{{pregunta.titulo}}</a> -- {{pregunta.autor.username}} 
        ({{pregunta.fecha_publicacion|date:"j \d\e F \d\e Y \a \l\a\s H:i"}})
        <p>{{pregunta.num_respuestas}} respuestas</p>
    </li>
{% endfor %}
</ul>

{% if form %}
<h2>Añadir nueva pregunta</h2>
<form action="{% url 'preguntas:index' %}" method="post">
    <table>
    {{ form }}
    </table>
    {% csrf_token %}
    <button type="submit">Enviar pregunta</button>
</form>
{% endif %}

{% endblock %}

\end{lstlisting}
